@-webkit-keyframes rotatePerspective {
    0%   {-webkit-transform: rotateY(45deg);
    -webkit-transform-origin:0 50%; }
    100% {-webkit-transform: rotateY(0deg);
    -webkit-transform-origin:0 50%; }
}
@-webkit-keyframes perspective {
    0%   { -webkit-perspective:1000px;
        -webkit-perspective-origin: 0% 50%;
        
         }

    100% { -webkit-perspective:0px;
        -webkit-perspective-origin: 0% 50%;

         }
}
@-webkit-keyframes fadeInLeftBig
{
    0%   {-webkit-transform: translateX(-1024px); }
    100% {-webkit-transform: translateX(0); }
}
@-webkit-keyframes fadeOutLeftBig
{
    0%   {-webkit-transform: translateX(0px); }
    100% {-webkit-transform: translateX(-1024px); }
}
@-webkit-keyframes fadeInLeftBig2
{
    0%   { opacity: 0; -webkit-transform: translateX(-2000px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-webkit-keyframes fadeIn
{
    0%   { opacity: 0; }    
    100% { opacity: 1; }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
@-webkit-keyframes zoom {
    0%, 25%  {
        transform: scale(0, 0);
    }
    
    35%, 100% {
        transform: scale(1, 1);
    }
}
@-webkit-keyframes widthChange {
    0%  { width: 0%;  }
    100%    { width: 100%;}
}

@-webkit-keyframes heightChange {
  0%  { height: 0%;  }
  100%  { height: 100%;}
}
@-webkit-keyframes heightChange2 {
  0%  { height: 100%;  }
  100%  { height: 0%;}
}
@-webkit-keyframes lineMove
{
    0% {left: 0px;-webkit-transform: rotate(0deg);}
    90% {left: 0px;-webkit-transform: rotate(-90deg);}
    100% {left: 130px;-webkit-transform: rotate(-90deg);}
}
@-webkit-keyframes tableWidth {
  from {width: 0%;}
  to {width: 1000%;}
}
@-webkit-keyframes tableHeight {
  from {height: 0%;}
  to {height: 1000%;}
}
/* Tutaj wywo³ujemy animacje dla powtarzalnych elementów */


/* -------------------------------------------------------- Animations ----- */
@-webkit-keyframes circleIcon1
{
    0%   { -webkit-transform: translate(-171px,60px); opacity: 0; }   
    50%   { -webkit-transform: translate(-15px,30px); opacity: .5; }  
    100%   { -webkit-transform: translate(0px,0px); opacity: 1; }  
}
@-webkit-keyframes circleIcon2
{
    0%   { -webkit-transform: translate(-171px,-60px); opacity: 0; }   
    50%   { -webkit-transform: translate(-15px,-30px); opacity: .5; }  
    100%   { -webkit-transform: translate(0px,0px); opacity: 1; }  
}
@-webkit-keyframes squareIcon1
{
    0%   { -webkit-transform: translate(171px,60px); opacity: 0; }   
    50%   { -webkit-transform: translate(15px,30px); opacity: 1; }  
    100%   { -webkit-transform: translate(0px,0px); opacity: 1; }  
}
@-webkit-keyframes squareIcon2
{
    0%   { -webkit-transform: translate(171px,100px); opacity: 0; }     
    100%   { -webkit-transform: translate(0px,0px); opacity: 1; }  
}
@-webkit-keyframes squareIcon3
{
    0%   { -webkit-transform: translate(171px,-60px); opacity: 0; }   
    50%   { -webkit-transform: translate(85px,-30px); opacity: 1; }  
    100%   { -webkit-transform: translate(0px,0px); opacity: 1; }  
}
@-webkit-keyframes bg_top
{
    0% { -webkit-transform: perspective(400px) translate3d(100px, 70px, 153px);opacity: 0;}
    100% { -webkit-transform: perspective(400px) translate3d(0px, 0px, 0px); opacity: 1;}
}
@-webkit-keyframes startPack
{
    0%   { -webkit-transform: scale(0); opacity: 0; }   
    50%  { -webkit-transform: scale(1.3); opacity: 1; }
    100% { -webkit-transform: scale(1); opacity: 1; }
}
@-webkit-keyframes leftAndRight
{
    0%   { -webkit-transform: translateX(300px); opacity: 0; }   
    60%   { -webkit-transform: translateX(-20px); opacity: 1; }  
    100%   { -webkit-transform: translateX(0px); opacity: 1; }  
}
@-webkit-keyframes rightAndLeft
{
    0%   { -webkit-transform: translateX(-300px); opacity: 0; }   
    60%   { -webkit-transform: translateX(20px); opacity: 1; }  
    100%   { -webkit-transform: translateX(0px); opacity: 1; }  
}
@-webkit-keyframes fadeIn
{
    0%   { opacity: 0; }    
    100% { opacity: 1; }
}
@-webkit-keyframes flipInX
{
    0%   { -webkit-transform: perspective(400px) rotateX(90deg); opacity: 0; }
    40%  { -webkit-transform: perspective(400px) rotateX(-10deg); }
    70%  { -webkit-transform: perspective(400px) rotateX(10deg); }
    100% { -webkit-transform: perspective(400px) rotateX(0deg); opacity: 1; }
}

@-webkit-keyframes flipInY
{
    0%   { -webkit-transform: rotateY(90deg);}
    40%  { -webkit-transform: rotateY(-10deg);}
    70%  { -webkit-transform: rotateY(10deg);}
    100% { -webkit-transform: rotateY(0deg);}
}


/* -------------------------------------------------------- Animations ----- */


@-webkit-keyframes MoveDownPicture
{
    0% { -webkit-transform: translate3d(0px, -700px, 0px); opacity: 0;}
    100% { -webkit-transform: translate3d(0px, 0px, 0px); opacity: 1;}
    
}
@-webkit-keyframes hangPicture
{
    0%  { -webkit-transform:  rotateX(0deg); -webkit-transform-origin: top center;}
    25%  { -webkit-transform:  rotateX(-20deg); -webkit-transform-origin: top center;}
    75%  { -webkit-transform:  rotateX(20deg); -webkit-transform-origin: top center;}
    100%  { -webkit-transform:  rotateX(0deg); -webkit-transform-origin: top center;}
}

@-webkit-keyframes anim{
     0%   { 
        -webkit-transform-origin: 0px 0px;
        -webkit-transform: rotateX(270deg);
     }
    100%  {
        -webkit-transform-origin: 0px 0px;
        -webkit-transform: rotateX(0deg);
     }
}
@-webkit-keyframes anim2{
     0%   { 
        -webkit-transform-origin: 0px 0px;
        -webkit-transform: rotateX(0deg);

        /*opacity: 1;*/
     }
     33%   { 
        -webkit-transform-origin: 0px 0px;
        -webkit-transform: rotateX(90deg);

     }
    100%  {
        -webkit-transform-origin: 0px 0px;
        -webkit-transform: rotateX(270deg);

     }
}

@-webkit-keyframes anim3 {
    0%    { -webkit-transform: rotateY(360deg); }
    100%  { -webkit-transform: rotateY(0deg); }
}
@-webkit-keyframes coinDown {
    0%    { -webkit-transform: translate3d(0px, -900px, 0px); }
    100%  { -webkit-transform: translate3d(0px, 800px, 0px) ; }
}

@-webkit-keyframes animTwo {
    
     0%   { 
        opacity: 0; 
     }
     1% {
        opacity: 1; 
        -webkit-transform: translate3d(-40px, -20px, 0px);
     }
     50% {
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-transform-origin: 0px 0px;
        -webkit-transform: rotateX(100deg);
     }
    100%  {
        -webkit-transform-origin: 0px 0px;
        -webkit-transform: rotateX(0deg);

     }
}

@-webkit-keyframes smoke
{
    0%  { -webkit-transform: scale(0.5); opacity: 0; }
    50%  { -webkit-transform: scale(1); opacity: 1; }
    100%  { -webkit-transform: scale(2); opacity: 0; }
}
@-webkit-keyframes smoke2
{
    0%  { -webkit-transform: translate3d(0px, 0px, 0px); opacity: 0; }
    50%  { -webkit-transform: translate3d(0px, -250px, 0px); opacity: 1; }
    100%  { -webkit-transform: translate3d(0px, -500px, 0px); opacity: 0; }
}
@-webkit-keyframes smoke3
{
    0%  { -webkit-transform: translate3d(0px, 0px, 0px); opacity: 0; }
    50%  { -webkit-transform: translate3d(-30px, -250px, 0px); opacity: 1; }
    100%  { -webkit-transform: translate3d(-60px, -500px, 0px); opacity: 0; }
}
@-webkit-keyframes smokeTee1
{
    0%  { -webkit-transform: translate3d(0px, 0px, 0px); opacity: 0; }
    50%  { -webkit-transform: translate3d(-10px, -100px, 0px); opacity: 1; }
    100%  { -webkit-transform: translate3d(10px, -200px, 0px); opacity: 0; }
}
@-webkit-keyframes smokeTee2
{
    0%  { -webkit-transform: translate3d(0px, 0px, 0px); opacity: 0; }
    50%  { -webkit-transform: translate3d(10px, -100px, 0px); opacity: 1; }
    100%  { -webkit-transform: translate3d(-10px, -200px, 0px); opacity: 0; }
}
@-webkit-keyframes fadeInLeftNew
{
    0%  { -webkit-transform: translate3d(-400px, 0px, 0px); opacity: 0; }
    50%  { -webkit-transform: translate3d(50px, 0px, 0px); opacity: .5;  }
    100%  { -webkit-transform: translate3d(0px, 0px, 0px) ; opacity: 1; }
}
@-webkit-keyframes fadeInRightNew
{
    0%  { -webkit-transform: translate3d(400px, 0px, 0px); opacity: 0; }
    50%  { -webkit-transform: translate3d(-50px, 0px, 0px); opacity: .5;  }
    100%  { -webkit-transform: translate3d(0px, 0px, 0px) ; opacity: 1; }
}
@-webkit-keyframes fadeInUpNew
{
    0%  { -webkit-transform: translate3d(0px, 80px, 0px); opacity: 0; }
    50%  { -webkit-transform: translate3d(0px, -20px, 0px); opacity: .5;  }
    100%  { -webkit-transform: translate3d(0px, 0px, 0px) ; opacity: 1; }
}
@-webkit-keyframes fadeInContent
{
    0%  { -webkit-transform: translate3d(-1000px, 0px, 0px); }
    100%  { -webkit-transform: translate3d(0px, 0px, 0px) ;  }
}
@-webkit-keyframes pulse2
{
    0%   { -webkit-transform: scale(1); opacity: 1; }   
    50%  { -webkit-transform: scale(1.03); opacity: 1; } 
    100% { -webkit-transform: scale(1); opacity: 1; }
}
@-webkit-keyframes pulse3
{
    0%   { -webkit-transform: scale(1); opacity: 1; }   
    50%  { -webkit-transform: scale(1.01); opacity: 1; } 
    100% { -webkit-transform: scale(1); opacity: 1; }
}

@-webkit-keyframes MoveUpBig
{
    0% { -webkit-transform: translate3d(0px, 0px, 0px);}
    100% { -webkit-transform: translate3d(0px, -500px, 0px);}
}
@-webkit-keyframes showeMenu
{
    0% { -webkit-transform: translate3d(246px, 0px, 0px);}
    100% { -webkit-transform: translate3d(0px, 0px, 0px);}
}

@-webkit-keyframes MoveDownBig
{
    0% { -webkit-transform: translate3d(0px, -2000px, 0px);}
    100% { -webkit-transform: translate3d(0px, 0px, 0px);}
}

@-webkit-keyframes biger
{
    0%  {opacity: 0;  -webkit-transform:scale(0);}   
    100% {opacity: 1;  -webkit-transform:scale(1);}
}
@-webkit-keyframes biger2
{
    0%  {opacity: 0;  -webkit-transform:scale(0);} 
    80%  {opacity: 1;  -webkit-transform:scale(1);}
    90%  {opacity: 1;  -webkit-transform:scale(1.02);}   
    100% {opacity: 1;  -webkit-transform:scale(1);}
}
@-webkit-keyframes MoveDownProduct
{
    0% { -webkit-transform: translate3d(0px, -1000px, 0px);}
    80% { -webkit-transform: translate3d(0px, 0px, 0px);}
    90% { -webkit-transform: translate3d(0px, -10px, 0px);}
    100% { -webkit-transform: translate3d(0px, 0px, 0px);}
}

@-webkit-keyframes FadeInVib
{
    0%  {opacity: 0;  -webkit-transform:scale(0.9);} 
    80%  {opacity: 1;  -webkit-transform:scale(1.1);}  
    100% {opacity: 1;  -webkit-transform:scale(1);}
}
@-webkit-keyframes flash
{
    0%, 50%, 100% { opacity: 1; }	
    25%, 75%      { opacity: 0; }
}

@-webkit-keyframes flip
{
    0%   { -webkit-transform: perspective(400px) rotateY(0); -webkit-animation-timing-function: ease-out; }
    40%  { -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg); -webkit-animation-timing-function: ease-out; }
    50%  { -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); -webkit-animation-timing-function: ease-in; }
    80%  { -webkit-transform: perspective(400px) rotateY(360deg) scale(.95); -webkit-animation-timing-function: ease-in; }
    100% { -webkit-transform: perspective(400px) scale(1); -webkit-animation-timing-function: ease-in; }
}

@-webkit-keyframes pulse
{
    0%   { -webkit-transform: scale(1); opacity: 0; }	
    50%  { -webkit-transform: scale(1.1); opacity: 1; }
    100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes pulse2
{
    0%   { -webkit-transform: scale(1);}   
    50%  { -webkit-transform: scale(1.1);}
    100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes fadeOut
{
    0%   { opacity: 1; }	
    100% { opacity: 0; }
}

@-webkit-keyframes fadeInUp
{
    0%   { opacity: 0; -webkit-transform: translateY(200px); }    
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

@-webkit-keyframes fadeInUp2
{
    0%   { -webkit-transform: translate3d(40px, 500px, 0px); }    
    100% { -webkit-transform: translate3d(0px, 0px, 0px); }
}
@-webkit-keyframes fadeInUp3
{
    0%   { opacity: 0; -webkit-transform: translateY(20px); }    
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-webkit-keyframes fadeInDown
{
    0%   { opacity: 0; -webkit-transform: translateY(-200px); }
    100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@-webkit-keyframes fadeInDownPerfect
{
    0%   { opacity: 0; -webkit-transform: translateY(-200px) rotate(180deg); }
    100% { opacity: 1; -webkit-transform: translateY(0px) rotate(180deg); }
}
@-webkit-keyframes fadeInDown2
{
    0%   { opacity: 0; -webkit-transform: translateY(-50px); }
    50% { opacity: 1; -webkit-transform: translateY(10px); }
    100% { opacity: 1; -webkit-transform: translateY(0px); }
}

@-webkit-keyframes fadeInLeft
{
    0%   { opacity: 0; -webkit-transform: translateX(-20px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-webkit-keyframes fadeInLeft2
{
    0%   { opacity: 0; -webkit-transform: translateX(-200px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-webkit-keyframes fadeInLeft3
{
    0%   { opacity: 0; -webkit-transform: translateX(-50px); }
    50%   { opacity: 1; -webkit-transform: translateX(10px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}

@-webkit-keyframes fadeInRight
{
    0%   {opacity: 0; -webkit-transform: translateX(200px);}
    100% {opacity: 1; -webkit-transform: translateX(0);}
}
@-webkit-keyframes fadeInRight3
{
    0%   { opacity: 0; -webkit-transform: translateX(50px); }
    50%   { opacity: 1; -webkit-transform: translateX(-10px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}

@-webkit-keyframes fadeInUpBig
{
    0%   { opacity: 0; -webkit-transform: translateY(2000px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-webkit-keyframes closeInUpBig
{
    0% { opacity: 1; -webkit-transform: translateY(0); }
    100%   { opacity: 0; -webkit-transform: translateY(2000px); }
}

@-webkit-keyframes fadeInLeftBigTwo
{
    0%   { opacity: 0; -webkit-transform: translate3d(-100px, -50px, 40px);}
    25%  { opacity: 1; -webkit-transform: translate3d(-20px, -15px, 40px); }
    50%  { opacity: 1; -webkit-transform: translate3d(-10px, -5px, 10px);}
    100% { opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px); }
}

@-webkit-keyframes fadeInRightBig
{
    0%   { opacity: 0; -webkit-transform: translateX(2000px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}

@-webkit-keyframes bounceIn
{
    0%   { opacity: 0; -webkit-transform: scale(.3); }
    50%  { opacity: 1; -webkit-transform: scale(1.05); }    
    70%  { -webkit-transform: scale(.9); } 
    100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes bounceInUp
{
    0%   { opacity: 0; -webkit-transform: translateY(2000px); }
    60%  { opacity: 1; -webkit-transform: translateY(-30px); }
    80%  { -webkit-transform: translateY(10px); }
    100% { -webkit-transform: translateY(0); }
}

@-webkit-keyframes bounceInDown
{
    0%   { opacity: 0; -webkit-transform: translateY(-2000px); }
    60%  { opacity: 1; -webkit-transform: translateY(30px); }
    80%  { -webkit-transform: translateY(-10px); } 
    100% { -webkit-transform: translateY(0); }
}

@-webkit-keyframes bounceInLeft
{
    60%  { opacity: 1; -webkit-transform: translateX(30px); }
    80%  { -webkit-transform: translateX(-10px); }
    100% { -webkit-transform: translateX(0); }
}
@-webkit-keyframes bounceInLefttt {
    0%   { opacity: 0; -webkit-transform: translateX(-2000px); }
    60%  { opacity: 1; -webkit-transform: translateX(30px); }
    80%  { -webkit-transform: translateX(-10px); }
    100% { -webkit-transform: translateX(0); }
}
@-webkit-keyframes bounceInRight
{
    0%   { opacity: 0; -webkit-transform: translateX(2000px); }
    60%  { opacity: 1; -webkit-transform: translateX(-30px); }
    80%  { -webkit-transform: translateX(10px); }
    100% { -webkit-transform: translateX(0); }
}
@-webkit-keyframes shake {
    0%                      { -webkit-transform: translateX(0); opacity: 0; }
    100%                    { -webkit-transform: translateX(0); opacity: 1; }
    10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); opacity: 1; }
    20%, 40%, 60%, 80%      { -webkit-transform: translateX(10px); opacity: 1; }
}
@-webkit-keyframes rotateIn
{
    0%   { -webkit-transform-origin: center; -webkit-transform: rotate(-200deg); opacity: 0; }
    100% { -webkit-transform-origin: center; -webkit-transform: rotate(0deg); opacity: 1; }
}

@-webkit-keyframes rotateIn2
{
    0%   { -webkit-transform-origin: center; -webkit-transform: rotate(200deg); opacity: 0; }
    100% { -webkit-transform-origin: center; -webkit-transform: rotate(0deg); opacity: 1; }
}
@-webkit-keyframes rotateInUpLeft {
    0%   { -webkit-transform-origin: left bottom; -webkit-transform: rotate(90deg); opacity: 0; }
    100% { -webkit-transform-origin: left bottom; -webkit-transform: rotate(0deg); opacity: 1; }
}
@-webkit-keyframes rotateInDownRight {
    0%   { -webkit-transform-origin: right bottom; -webkit-transform: rotate(90deg); opacity: 0; }
    100% { -webkit-transform-origin: right bottom; -webkit-transform: rotate(0deg); opacity: 1; }
}
@-webkit-keyframes rotateInDownLeft {
    0%   { -webkit-transform-origin: left bottom; -webkit-transform: rotate(-90deg); opacity: 0; }
    100% { -webkit-transform-origin: left bottom; -webkit-transform: rotate(0deg); opacity: 1; }
}
@-webkit-keyframes MoveUp
{
	0% { -webkit-transform: translate3d(0px, 0px, 0px);}
	100% { -webkit-transform: translate3d(0px, -250px, 0px);}
}

@-webkit-keyframes MoveDown
{
	0% { -webkit-transform: translate3d(0px, -250px, 0px);}
	100% { -webkit-transform: translate3d(0px, 0px, 0px);}
}

@-webkit-keyframes MoveUpBig
{
	0% { -webkit-transform: translate3d(0px, 0px, 0px);}
	100% { -webkit-transform: translate3d(0px, -500px, 0px);}
}
@-webkit-keyframes textAnim {
    0%   { opacity: 0; -webkit-transform: scale(0.3); -webkit-filter: blur(9px); }
    70%  { opacity: 1; -webkit-transform: scale(1.1); }    
    100% { -webkit-transform: scale(1); }
}