<!DOCTYPE html>
<html lang="pl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/master.css">
</head>

<body>
    <div id="kod_s_00" class="wrapper_kod">
        <main>
            <div class="header"></div>
            <section></section>
            <div class="footer"></div>
        </main>
    </div>
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>