/* ------------------------------------ slide-1 ---------------------------- */
#slide-1 {
	background-image: url(../images/bg.png);
}
#slide-1 .mainText {
	width: 532px;
	top: 199px;
	right: 67px;
}
/* ------------------------------------ slide-1 animations -------------- */
#slide-1 .mainText { -webkit-animation: fadeInDown 0.7s ease-out 0.5s; -webkit-animation-fill-mode: both; }
