/* ------------------------------------ slide-1 ---------------------------- */


/* ------------------------------------ slide-1 animations -------------- */


/* ------------------------------------ slide-2 ---------------------------- */

#slide-2.APslider-slide--active .slide__title 	{ -webkit-animation: bounceIn 0.7s ease-out 0.4s both; }
#slide-2.APslider-slide--active .slide__desc 	{ -webkit-animation: fadeInLeft 0.7s ease-out 0.6s both; }

/* ------------------------------------ slide-2 animations -------------- */


/* ------------------------------------ slide-3 ---------------------------- */

#slide-3 .APnoSwipe {
	margin: 10px auto;
	background-color: rgba(237,28,36,0.5);
	width: 60%;
	height: 300px;
}

/* ------------------------------------ slide-3 animations -------------- */

