<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="format-detection" content="telephone=no">

<!-- <style type="text/css">	
	@import url("im8_s_00/common/styles/master.css");
</style>
<script type="text/javascript" src="im8_s_00/common/scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="im8_s_00/common/scripts/script.js"></script> -->

<!-- Page Layout Wrapper -->
<div class="wrapper_im8" id="kod_s_00">

	<header class="mainSlide">
		<p class="headerTxt">
			IBRANCE + IA oraz IBRANCE + fulwestrant<sup>1</sup>
		</p>
	</header>

	<section>
		<!--<img src="/var/img/MAM-baner_butelka_gratis_v1.png">-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<style type="text/css">
    .productImg{margin: 5px 20px 20px 0px; float: left; max-width: 150px;}
    .productImg.productImgMarginBottom{margin: 5px 20px 120px 0px;}
    .HiddenContents{display: none;}
    .buttonShowContents{cursor: pointer; font-weight: bold;}   
</style>
<script>
    $(document).ready(function(){
        $('.buttonShowContents').click(function(){
            $('.contentsText').removeClass('HiddenContents');
            $('.productImg').addClass('productImgMarginBottom');
            $(this).addClass('HiddenContents');
        });
    });
</script>

<p style="color: #BA86B6; font-size: 1.2em; font-weight: bold;">Zestawy produktów MAM BABY</p>
<hr>
<ul style="position: relative; margin: 0px; left: 35px" class="grid">
    
    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">2+ miesiąca</p><br class="clear" /><a href="/zestaw_butelka_mam_smoczek_air_2_6_balsam_moskito_guard.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: MAM BABY butelki MAM Anti Colic 320 ml 4+miesięcy" src="/var/img/products/butelki/2_miesiaca/zestaw1_pink110x247.png"  /></p>
        <span style="font-weight: bold">Zestaw butelka MAM + smoczek Air 2-6 + balsam MOSKITO GUARD<br><br></span>
         <span class="price" style="font-weight: bold; "><br />91,39 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">2+ miesiąca</p><br class="clear" /><a href="/zestaw_butelka_mam_smoczek_air_2_6_kieszonkowa_moskito_guard.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: MAM BABY butelki MAM Anti Colic 320 ml 4+miesięcy" src="/var/img/products/butelki/2_miesiaca/zestaw2_blue110x247.png"  /></p>
        <span style="font-weight: bold">Zestaw butelka MAM + smoczek Air 2-6 + wersja kieszonkowa MOSKITO GUARD</span>
         <span class="price" style="font-weight: bold; "><br />68,06 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">2+ miesiąca</p><br class="clear" /><a href="/butelka_mam_plastry_moskinto_balsam_moskito_guard.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: MAM BABY butelki MAM Anti Colic 320 ml 4+miesięcy" src="/var/img/products/butelki/2_miesiaca/zestaw_3_pink110x247.png"  /></p>
        <span style="font-weight: bold">Butelka MAM + plastry MOSKINTO + balsam MOSKITO GUARD</span>
         <span class="price" style="font-weight: bold; "><br />103,84 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

    <li data-element-id="37">
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content" ><p style="padding-left:10px;">0+ miesiąca</p><br class="clear" /><a href="/zestaw_perfect_0_6_perfect_night_0_6_klips_clip_it_gratis.html">
        <p style="height:120px; "><img style="width:110px;"  alt="MAM BABY smoczki dla niemowląt MAM Perfect Night 16+ miesięcy" src="/var/img/products/smoczki/mam_perfect/zestaw_blue_110x115.png" /></p>
        <span style="font-weight: bold">Zestaw Perfect 0-6, Perfect Night 0-6, klips Clip it<br> + GRATIS<br><br><br></span>
         <span class="price" style="font-weight: bold;">79,01 PLN</span></a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">2+ miesiąca</p><br class="clear" /><a href="/Zestaw_3x_butelka_MAM_Anti_Colic_130_ml_GRATIS.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: MAM BABY butelki MAM Anti Colic 320 ml 4+miesięcy" src="/var/img/products/butelki/2_miesiaca/zestaw4_but_blue_110x115.png"  /></p>
        <span style="font-weight: bold">Zestaw 3x butelka MAM + Anti-Colic 130 ml GRATIS<br><br></span>
        <span class="price" style="font-weight: bold; "><br />100,47 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

</ul>

<br class="clear" />

<ul style="position: relative; margin: 0px; left: 35px" class="grid">

    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">2+ miesiąca</p><br class="clear" /><a href="/zestaw_3_gryzakow_mam.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: Zestaw 3 gryzaków MAM" src="/var/img/products/zestawy/zestaw-22-boy2-115.png"  /></p>
        <span style="font-weight: bold"><br />Zestaw 3 gryzaków MAM</span>
        <span class="price" style="font-weight: bold; text-decoration: line-through;">108,21 PLN</span>
        <span class="price" style="font-weight: bold; ">88,17 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

    <li data-element-id="115">
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">3+ miesiąca</p><br class="clear" /><a href="/zestaw_3_produkty_mam_do_jamy_ustnej_first_brush_gratis.html"><p style="height:120px; "><img alt="Foto: MAM Twister (6+ miesiąca)" src="/var/img/products/pielegnacja_jamy_ustnej/3_miesiaca/zestaw-4-boy-110x115.png" style="width:110px;" /></p>
        <span style="font-weight: bold">Zestaw 3 produkty MAM do jamy ustnej + First Brush GRATIS</span>
        <span class="price" style="font-weight: bold; ">99,22 PLN</span> </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>  

    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">2+ miesiąca</p><br class="clear" /><a href="/2x_butelka_mam_anti_colic_szczotka_gratis.html"><p style="height:120px; "><img alt="Foto: MAM Anti Colic (2+ miesiąca)" src="/var/img/products/zestawy/Zestaw_nr_10_blue_110x115.png" style="width:110px;" /></p>
        <span style="font-weight: bold">2x butelka MAM Anti-Colic + szczotka + GRATIS<br><br></span>
        <span class="price" style="font-weight: bold; ">101,66 PLN</span> </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">6+ miesięcy</p><br class="clear" /><a href="/zestaw_2x_mam_perfect_6_clip_it_gratis.html"><p style="height:120px; "><img alt="Foto: MAM Perfect (6+ miesiąca)" src="/var/img/products/zestawy/z13_rose_110x115.png" style="width:110px;" /></p>
        <span style="font-weight: bold">Zestaw 2x MAM Perfect 6+ &amp; Clip it + GRATIS<br/><br/><br></span>
        <span class="price" style="font-weight: bold; ">79,01 PLN</span> </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">2+ miesiąca</p><br class="clear" /><a href="/zestaw_3_smoczki_mam.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: Zestaw 3 smoczków MAM" src="/var/img/products/zestawy/zestaw_3_smoczki_230.png"  /></p>
        <span style="font-weight: bold"><br />Zestaw-3 smoczki na butelkę MAM (śr,szyb,niekap)</span>
       
        <span class="price" style="font-weight: bold; ">30,75 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

</ul>

<br class="clear" />

<ul style="position: relative; margin: 0px; left: 35px" class="grid">

      <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">2+ miesiąca</p><br class="clear" /><a href="/zestaw_3x_butelka_smoczek_2_6_gratis.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: Zestaw 3 smoczków MAM" src="/var/img/products/zestawy/zestaw-5-boy-110x115.png"  /></p>
        <span style="font-weight: bold"><br />Zestaw 3x butelka MAM + smoczek 2-6 GRATIS</span>
       
        <span class="price" style="font-weight: bold; ">110,97 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>
    
    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">2+ miesiąca</p><br class="clear" /><a href="/zestaw_mam_love_2_smoczki_klips.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: Zestaw 3 smoczków MAM" src="/var/img/products/zestawy/zestaw_love_pink_110x115.png"  /></p>
        <span style="font-weight: bold"><br />Zestaw<br> MAM LOVE:<br> 2 smoczki<br> + klips<br></span>
       
        <span class="price" style="font-weight: bold; ">44,29 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">2+ miesiąca</p><br class="clear" /><a href="/zestaw_anti_colic_160_260ml_lucy_gratis.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: Zestaw 3 smoczków MAM" src="/var/img/products/zestawy/Zestaw_nr_11_blue_110x115.jpg"  /></p>
        <span style="font-weight: bold"><br />Zestaw<br>MAM Anti-Colic<br>160 + 260 ml<br>+ Lucy GRATIS</span>
       
        <span class="price" style="font-weight: bold; ">71,58 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">2+ miesiąca</p><br class="clear" /><a href="/zestaw_anti_colic__2szt_260ml_lucy_gratis.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: Zestaw 3 smoczków MAM" src="/var/img/products/zestawy/Zestaw_nr_12_pink_110x115.jpg"  /></p>
        <span style="font-weight: bold"><br />Zestaw<br>MAM Anti-Colic<br>260 ml (2szt)<br>+ Lucy GRATIS</span>
       
        <span class="price" style="font-weight: bold; ">60,00 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">4+ miesiąca</p><br class="clear" /><a href="/laktator_reczny_mam_gryzak_max_gratis.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: Zestaw 3 smoczków MAM" src="/var/img/products/zestawy/Zestaw_nr_13_110x115.jpg"  /></p>
        <span style="font-weight: bold"><br />Laktator ręczny MAM + gryzak Max GRATIS</span><br>
       
        <span class="price" style="font-weight: bold; ">180,00 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>
    
</ul>

<br class="clear" />

<ul style="position: relative; margin: 0px; left: 35px" class="grid">

    

      <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">4+ miesiąca</p><br class="clear" /><a href="/sterylizator_parowy_mam_gryzak_max_gratis.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: Zestaw 3 smoczków MAM" src="/var/img/products/zestawy/Zestaw_nr_14_110x115.jpg"  /></p>
        <span style="font-weight: bold"><br />Sterylizator parowy MAM + gryzak Max GRATIS</span>
       
        <span class="price" style="font-weight: bold; ">128,00 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>

    <li>
        <div class="block">
        <div class="top">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        <div class="content"><p style="padding-left:10px;">2+ miesiąca</p><br class="clear" /><a href="/zestaw_anti_colic_260_320ml_lucy_gratis.html">
        <p style="height:120px; "><img style="width:110px; padding-top:4px;" alt="Foto: Zestaw  MAM" src="/var/img/products/zestawy/Zestaw_nr_15_blue_110x115.png"  /></p>
        <span style="font-weight: bold"><br />Zestaw<br>MAM Anti-Colic<br>260 + 320 ml<br>+ Lucy GRATIS</span>
       
        <span class="price" style="font-weight: bold; ">72,29 PLN</span>
        </a></div>
        <div class="bottom">
        <div class="left">&nbsp;</div>
        <div class="right">&nbsp;</div>
        </div>
        </div>
    </li>
  
</ul>

<br class="clear" />
	</section>
	
	<footer>
		
	</footer>

</div>